@media screen and (max-width: 600px) {
    html {
      font-size: 10px;
    }
}
.youtube-link {
  font-size: 0.8rem;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
  text-decoration: underline;
}
.youtube-link:hover {
  font-size: 0.8rem;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
  text-decoration: underline;
}
.youtube-icon {
  width: 30px;
  height: 27.262px;
}
.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}
.modal-backdrop.show {
  opacity: 0.75;
}
.loader-txt p {
    font-size: 1rem;
    color: #666;
}